@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-background: #f8cdcd;
  --color-dark-background: #41414a;
  --color-foreground: #41414a;
  --color-dark-foreground: #f8cdcd;
}
